@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

html, body{
    font-family: Ubuntu, Arial;
    width: 100%;
    height: 100%;
}

/*menu lateral*/

#header{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    background: #021124;
    overflow-y: auto; /*nao deixa o conteudo ser cortado ao diminir tela, cria um scroll*/
    width: 300px;
    transition: all ease-in-out 0.5s;
    z-index: 1;
}

/*PROFILE*/

#header .profile img{
    margin: 15px auto;
    display: block;
    width: 120px;
    height: 120px;
    border: 8px solid #cccccc;
    border-radius: 50%;
}

#header .profile h1{
    font-size: 24px;
    margin: 0;
    padding: 0;
    font-weight: 600;
    text-align: center;
    color: white;
}

#header .profile .social-links{
    margin: 1rem;
    text-align: center;
}

#header .profile .social-links a{
    text-decoration: none;
    margin-right: 1rem;
    border-radius: 50%;
    transition: 0.3s;
    background: black;
    width: 30px;
    height: 30px;
    color: #fff;
    padding: 0.5rem;
}

#header .profile .social-links a:hover{
    background: turquoise;
}

/*MENU NAV*/

.nav-menu{
    padding: 1.5rem;
}

.nav-menu a,
.nav-menu a:focus{
    display: flex;
    align-items: center;
    color: #cccccc;
    transition: 0.3s;
    font-size: 15px;
}

.nav-menu a i,
.nav-menu a:focus i{
    font-size: 24px;
    padding-right: 0.8rem;
    color: gray;
}

.nav-menu a:hover,
.nav-menu .active,
.nav-menu .active:focus{
    text-decoration: none;
    color: white;
}

.nav-menu a:hover i,
.nav-menu .active i,
.nav-menu .active:focus i{
    color: lightblue;
}

/*main*/

#main{
    margin-left: 300px;
}

section#inicio{
    background-image: url('../img/background.jpg');
    background-repeat: no-repeat; /*nao se repitir*/
    background-size: cover; /*ocupar todo espaço que possui*/
    background-attachment: fixed; /*nquando rolar a tela fica fixa*/
    background-position: center; /*quando diminui a tela fica centralizada*/
    width: 100%; /*para imagem aparecer, é preciso colocar um tamanho*/
    height: 100vh; /*ocupa 100% do viwer port*/
}

section#inicio .col-md-5{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

section#inicio h2#title{
    color: white;
    font-size: 4.2rem; /*toma como referencia o tamanho da tela*/
}

section#inicio span#subtitle{
    color: white;
    font-size: 1.5rem;
}

section#inicio .col-md-7{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.text-shadown{
    text-shadow: 4px 4px 10px black; /* direita baixo profundidade espalhamento cor*/
}

section#inicio div#arraste{
    width: 10rem;
}

section#inicio div#arraste i{
    color: white;
}

section#inicio div#arraste a{
    text-decoration: none;
    color: white;
}

/*responsividade*/

i.menu-mobile{
    position: fixed;
    color: white;
    font-size: 1.5rem;
    display: none;
    right: 1rem;
    top: 1rem;
    cursor: pointer;
    background:darkblue;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.menu-nav-active{
    overflow: hidden;
}

.menu-nav-active #header{
    left: 0;
}

/*estilizando o scroll*/

::-webkit-scrollbar { /*largura do scroll*/
    width: 10px; 
    
}

::-webkit-scrollbar-track { /*onde o scroll rola*/
    background-color: #fff; 
    box-shadow: inset 0 0 .2rem black;
}  

::-webkit-scrollbar-thumb { /*scroll*/
    background: #021124; 
}

/*estilizando background*/


.section-bg{
    background: lightblue;
}

/*estilizando lateral curriculo*/

#cv .cv-item{
    border-left: 2px solid #3b3232;
    padding: 0 0 1rem 1rem;
    position: relative;
}

#cv .cv-item h4{
    background: lightgray;
    font-size: 1.2rem;
    display: inline-block;
    padding: .6rem;
}

#cv .cv-item::before{
    content: "";
    position: absolute;
    top: 0;
    left: -6px;
    height: 10px;
    width: 10px;
    background: black;
}

/*estilizando o botao do carrosel*/

.carousel-control-prev{
    width: 35px;
    margin-left: -20px;
    justify-content: end;
}

.carousel-control-next{
    width: 35px;
    margin-right: -20px;
    justify-content: flex-end;
}

.carousel-indicators{
    margin-bottom: -2rem;
}

.link-portifolio{
    display: flex;
    justify-content: center;
}

.link-portifolio a{
    border: 2px solid black;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    width: 40px;
    height: 40px;
    margin-left: 1rem;
}


[data-anime]{
    opacity: 0;
    transition: 1s;
}

[data-anime='down']{
    transform: translate3d(0, -100%, 0);
}

[data-anime='up']{
    transform: translate3d(0, 100%, 0);
}

[data-anime='rigth']{
    transform: translate3d(35px, 0, 0);
}

[data-anime='left']{
    transform: translate3d(-100%, 0, 0);
}

[data-anime].animation{
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

@media (max-width: 1024px){
    i.menu-mobile{
        display: flex;
    }

    #header{
        left: -300px;
    }

    #main{
        margin-left: 0;
    }

    section#inicio h2{
        color: white;
        font-size: 3.5rem; /*toma como referencia o tamanho da tela*/
    }

    section#inicio span#subtitle{
        color: white;
        font-size: 1.3rem;
        margin-right: 0;
    }
}